
.container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em; /* Adjust gap as needed */
  background-color: #d7e1ec;
  border-radius: 1em;
  padding: 2em;
  width: 80%;
  max-width: 20em; /* Adjust max-width as needed */
  margin: auto;
}

.bouton {
  cursor: pointer;
  background-color: #d7e1ec;
  border: none;
  color: black;
  padding: 2.5em 1em 1em 1em;
  text-align: center;
  text-decoration: none;
  
  font-size: 1.5em;
  width: 100%;
}

.boutonsChiffre {
  display: grid;
  grid-template-columns: repeat(3, 10em);
  gap: 1em;
}

.affichageMDP {
  background-color: #d7e1ec;
  border: none;
  padding: 0.5em 3em;
  text-align: center;
  letter-spacing: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  width: 100%;
}

.btn-retour-pin { 
 max-width: 2.5em;

}
@media (max-width: 37.5em) {
  .container {
    width: 90%;
  }
}
