.container {
  max-width: 90%; /* Ajusté pour la réactivité */
  margin: 2em auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.affichage {
  margin-top: 0.5em;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.affichageMDP {
  font-size: 2.5em;
  letter-spacing: 0.15em;
  color: #555;
}

.boutons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boutonsChiffre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.bouton {
  background-color: #3498db;
  height: 3em;
  width: 100%; /* Ajusté pour la réactivité */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px; /* Ajusté pour la réactivité */
  font-size: 1.6em; /* Ajusté pour la réactivité */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bouton:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}

.bouton:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.btn-retour-pin {
  width: 40px;
  height: 40px;
}

.info_nom_eleve {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
  .bouton {
    padding: 10px;
    font-size: 1.2em;
  }
  
}
