.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.boutons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.bouton:disabled {
  color: #b3b3b3;
  cursor: not-allowed;
}

.boutonsChiffre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.bouton {
  width: 100px;
  height: 100px;
  font-size: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.affichage {
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}

.affichageMDP {
  font-size: 32px;
  font-weight: bold;
}

.boutonSuivant {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style pour l'image dans le bouton de suppression */
.bouton img {
  width: 20px;
  height: 20px;
}
.bouton_supprimer_connection_eleve{
  width: 100px;
  height: 100px;
  font-size: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
/* Style pour le bouton de suppression */
.boutonSupprimer {
  background-color: #f44336;
  color: white;
}
.bouton_suivant_connection_eleve {

  background-color: #28a745;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
