body{
  background-color: #f7f1e9;
}
/*
h2 {
  font-weight: 300;
  text-align: center;
}

p {
  position: relative;
}
*/
#login-form-wrap {
  border: 1px solid black;
  background-color: #E9E9E9;
  width: 30%;
  margin: 1em auto;
  text-align: center;
  padding: 20px 0 20px 0;
  border-radius: 4px;
}

#login-form {
  padding: 0 60px;
}
.form_login_edu {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-radius: 4px;
}
.bouton_submit_formulaire_edu{
  background-color: #f7f1e9;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  border-radius: 4px;
}
.nom_login_edu{
  font-family: Arial, sans-serif;
}
.bouton_retour_connection_edu{
  background-color: #f7f1e9;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  border-radius: 4px;
}
@media (max-width: 1100px) {
  #login-form-wrap {
    border: 1px solid black;
    background-color: #E9E9E9;
    width: 55%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 4px;
  }
}
@media (max-width: 700px) {
  #login-form-wrap {
    border: 1px solid black;
    background-color: #E9E9E9;
    width: 80%;
    margin: 3em auto;
    text-align: center;
    border-radius: 4px;
  }
  .bouton_submit_formulaire_edu{
    background-color: #f7f1e9;
    color: #355c7d;
    font-weight: bold;
    font-size: 12px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
  }
  .form_login_edu {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-radius: 4px;
  }
}