@media print {
    body {
      margin: 0;
      padding: 0;
    }
    @page {
        size: A4;
        margin: 0mm;
        orientation: portrait;
        transform: scale(0.86);
      }
    .boutton_sauvegarder_interaction_edu {
      display: none; 
    }
  
    .boutton_retour_interaction_edu{
        display: none; 
    }
  }

  .imgEmoji {
    display: flex;
    justify-content: center;
    margin-top: 8em;
    img {
      border-radius: 30%;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      width: 15em;
      height: 15em;
      margin: 5em;
    }
  }