.global_sauvegarder_fiche {
    margin-top: 2em;
    max-width: 600px;
    margin: 2em auto;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .global_sauvegarder_fiche h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input_sauvegarder_ficheBox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .boutton_sauvegarder_ficheBox {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .boutton_sauvegarder_ficheBox:hover {
    background-color: #45a049;
  }
    
  .title_choose_name_for_fiche{
    color: #355c7d;

  }

  @media screen and (max-width: 600px) {
    .global_sauvegarder_fiche {
      padding: 10px;
    }
  
    .global_sauvegarder_fiche h1 {
      font-size: 20px;
    }
  }