.global_sauvegarder_fiche{
    display: flex;
    width: 30%;
    margin: 1em auto;
}
.boutton_sauvegarder_ficheBox{
    background-color: #ffffff;
    color: #355c7d;
    font-weight: bold;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    border: none;
}