  
  .global_suivi_eleves {
    width: 50%; /* Définit la largeur à 70% de la largeur du conteneur parent */
    margin: 0 auto; /* Centrage horizontal avec une marge automatique */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alignement vertical au centre */
    justify-content: center; /* Alignement horizontal au centre (utile si vous avez des hauteurs variables) */
    background-color: #d7e1ec; /* Ou toute autre couleur de fond souhaitée */
    border-radius: 8px; /* Optionnel: arrondit les coins du conteneur */
  }

  .suivi_eleves {
    color: #355c7d;
    margin-bottom: 20px; /* Espace sous le titre */
    text-align: center;
  }
  
  .general_logine {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; /* Espace sous les cartes */
  }
  
  .login-containers {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px; /* Taille ajustée pour les cartes */
    margin: 10px; /* Espace autour des cartes */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour les effets au survol */
  }
  
  .login-containers:hover {
    transform: translateY(-5px); /* Légère élévation lors du survol */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
  }
  
  .user-photos {
    border-radius: 50%; /* Cercle complet pour les photos */
    width: 120px; /* Taille des photos ajustée */
    height: 120px; /* Hauteur correspondant à la largeur */
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .error-messages {
    color: #e74c3c;
    margin-bottom: 15px;
  }
  
  .user-names {
    font-size: 16px; /* Taille de la police pour le nom de l'utilisateur */
    margin-bottom: 15px; /* Espace sous le nom */
  }
  
  .login-buttons {
    background-color: #4CAF50; /* Une couleur verte qui suggère la progression et le positif */
    color: white;
    padding: 12px 24px; /* Un peu plus de padding pour un bouton plus grand */
    border: none;
    border-radius: 20px; /* Bords très arrondis pour un style moderne */
    cursor: pointer;
    font-size: 15px; /* Une taille de police légèrement plus grande pour l'importance */
    font-weight: bold; /* Texte en gras */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée subtile pour la profondeur */
    transition: all 0.3s ease; /* Transition douce pour l'ensemble des propriétés */
    text-transform: uppercase; /* Texte en majuscules pour plus d'impact */
    letter-spacing: 1px; /* Espacement entre les lettres pour un look premium */
  }
  
  .login-buttons:hover {
    background-color: #45a049; /* Un ton plus foncé de vert au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée pour l'effet au survol */
    transform: scale(1.05); /* Légère augmentation de la taille pour attirer l'attention */
  }
  
  .login-buttons:active {
    background-color: #3e8e41; /* Un vert plus foncé lorsqu'on clique sur le bouton */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Diminution de l'ombre pour un effet enfoncé */
    transform: scale(0.98); /* Rétrécissement du bouton pour un effet de clic */
  }

  .bouton_retour_suivi_eleves {
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    color: #ffffff; 
    background-color: #007bff; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    position:absolute;
  }
  
  .bouton_retour_suivi_eleves:hover, .bouton_retour_suivi_eleves:focus {
    background-color: #0056b3;
    transform: translateY(-2px); 
    text-decoration: none;
  }
  
  .bouton_retour_suivi_eleves:active {
    transform: translateY(1px); 
  }
  
  .bouton_retour_suivi_eleves:before {
    content: "← "; 
    display: inline-block;
    margin-right: 8px;
  }

/*PAGE SUIVI ELEVE ==================================================*/
.global_suivi_eleve_perso {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: 20px auto;
}

.text_area_container {
  flex: 1;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: 1px solid #eaeaea;
  background-image: linear-gradient(to top, #ffffff, #f9f9f9);
}

.global_graph {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: 1px solid #eaeaea;
  background-image: linear-gradient(to top, #ffffff, #f9f9f9);
}

.nom_eleve_suivi {
  font-size: 26px;
  color: #444;
  margin-bottom: 24px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #ddd;
}

.text_area_eleve_suivi {
  width: 95%;
  height: 160px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-family: 'Arial', sans-serif;
  margin-bottom: 25px;
  background-color: #fefefe;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.06);
  transition: border 0.3s ease-in-out;
}

.text_area_eleve_suivi:focus {
  border-color: #007bff;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.06), 0 0 8px rgba(0,123,255,.5);
}

.ajout_suivi_commentaire {

  cursor: pointer;
  padding: 12px 24px;
  border: none;
  background-color: rgb(32, 179, 32);
  color: white;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.14);
}

.ajout_suivi_commentaire:hover{
  background-color: #027120;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

.commentaire_label {
  display: block;
  background-color: #f8f8f8;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  border-left: 5px solid #007bff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: transform 0.2s ease-in-out;
}

.commentaire_label:hover {
  transform: translateX(10px);
}

@media (max-width: 768px) {
  .global_suivi_eleve_perso {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .text_area_container, .global_graph {
    width: 100%;
    margin-bottom: 20px;
  }
}
.retour_suivi_commentaire {
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff; 
  background-color: #007bff; 
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  position:absolute;
}

.retour_suivi_commentaire:hover, .retour_suivi_commentaire:focus {
  background-color: #0056b3;
  transform: translateY(-2px); 
  text-decoration: none;
}

.retour_suivi_commentaire:active {
  transform: translateY(1px); 
}

.retour_suivi_commentaire:before {
  content: "← "; 
  display: inline-block;
  margin-right: 8px;
}



.commentaire_container {
  padding: 10px;
  border-bottom: 1px solid #eee; /* séparateur léger entre les commentaires */
}

.commentaire_label {
  display: block;
  color: #355c7d;
  font-size: 16px;
}

.commentaire_timestamp {
  display: block;
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}
