.global_bouton_interface_élève{
  width: 80%;
  display: wrap;
  margin: 1em auto;

}
.bouton_interface_eleve {
  display: flex; /* Utiliser flexbox */
  align-items: center; /* Aligner les éléments verticalement */
  justify-content: center; /* Centrer horizontalement */
  background-color: white;
  max-height: 4em;
  width: 20%;
  max-width: 30%;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.bouton_interface_eleve img {
  width: 20%;
  margin-right: 15px; /* Espacement entre l'image et le texte */
}


.txt_photo_eleve_all{
  background-color: white;
  border-radius: 4px;
  width: 25%;
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
  color: #355c7d;
  font-family: Arial, sans-serif;
}

.txt_espace_élève{
  width: 80%;
  padding: 3px;
  border-radius: 4px;
  font-size: 2em;
  text-align: center;
  color: #355c7d;
  font-family: Arial, sans-serif;

}
.global_txt_espace_élève {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
  border-radius: 1em;
  background-color: white;
  width: auto; /* Défini la largeur en fonction du contenu */
  max-width: 40%; /* Limite la largeur à 50% si le contenu est plus large */
  max-height: 15vh; /* Limite la hauteur à 80% de la hauteur de la fenêtre */
  margin: 0 auto; /* Centre la div horizontalement */
  display: flex; /* Utilisez Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center; 
  margin-bottom: 4em;
}


.content_espace_eleve{
  display: flex;
  justify-content: center; 
  align-items: center;
}
.bouton_deconnection_eleve{
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
  max-height: 4em;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  width: 15%;
}
.bouton_deconnection_eleve img{
  width: 20%;
  display: inline-block; /* Permet de gérer l'espace autour de l'image */
  vertical-align: middle; /* Alignement vertical au centre */
  margin-left: 10px; /* Espacement entre l'image et le titre */
}
@media (max-width: 900px) {
  .bouton_deconnection_eleve{
      border: 1px solid red;
      background: red;
      color: #ffffff;
      max-height: 4em;
      max-width: 35%;
      font-weight: bold;
      font-size: 18px;
      padding: 0.8em;
      margin: 1em;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
  .content_espace_eleve{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .bouton_interface_eleve {

    background-color: white;
    max-height: 4em;
    width: 40%;
    max-width: 40%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
}
/* REVOIR LE CSS RESPONSIVE +++++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 720px) {
  .content_espace_eleve {
    display: flex;
    justify-content: space-around; 
  }
  .bouton_interface_eleve {

    background-color: white;
    max-height: 4em;
    width: 30%;
    max-width: 30%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    cursor: pointer;

  }
}
.reglage-icon{
  margin: 2em;
  float: right;
}
.global_pas_de_fiche {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.pas_de_fiche {
  background-color: #f44336; /* Couleur de fond rouge (peut être ajustée selon votre préférence) */
  color: #fff; /* Couleur du texte blanc */
  padding: 10px; /* Espacement interne pour un meilleur aspect */
  border-radius: 5px; /* Coins arrondis */
  text-align: center; /* Centrer le texte */
  font-size: 16px; /* Taille de la police */
  width: 300px; /* Largeur du message d'erreur (ajustez selon vos besoins) */
}

.bouton_interface_eleve:hover,
.bouton_interface_eleve:focus {
    transform: translateY(-3px); /* Légère élévation au survol */
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2); /* Ombre plus prononcée au survol */
}