.global_bouton_interface_élève{
  width: 80%;
  display: wrap;
  margin: 1em auto;

}
  .bouton_interface_eleve {

    background-color: #f7f1e9;
    max-height: 4em;
    width: 20%;
    max-width: 30%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
  }
.txt_espace_élève{
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
    color: #355c7d;
    font-family: Arial, sans-serif;

}

  .content_espace_eleve{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
