.Box {
  border: none;
  color: #355c7d;
  padding: 0.5em;
  max-width:1200px;
  margin: auto;
  margin-top: 1em;
  background-color: white;
  border-radius: 4px;
}
body {
  background-color: #f7f1e9;
  padding-bottom: 1em;
}
select {
  color: #355c7d;
 
  border-radius: 4px;
  background-color: #ffffff;  
  margin : 4px;
  
}

input.TextInput {
  width: 100%;
  max-width: 15em;
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;
}


.boutton_retour_interaction_edu {
  margin: 1em;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff; 
  background-color: #007bff; 
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

}

.boutton_retour_interaction_edu:hover, .bouton_retour_connection_edu:focus {
  background-color: #0056b3;
  transform: translateY(-2px); 
  text-decoration: none;
}

.boutton_retour_interaction_edu:active {
  transform: translateY(1px); 
}

.boutton_retour_interaction_edu:before {
  content: "← "; 
  display: inline-block;
  margin-right: 8px;
}
.boutton_sauvegarder_interaction_edu{
  background-color: green;
  max-height: 4em;
  width: 15%;
  max-width: 20%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  border-radius: 4px;
  float: right;
  cursor: pointer;
  border: none;
}
.boutton_imprimer_interaction_edu{
  background-color: white;
  max-height: 4em;
  width: 15%;
  max-width: 20%;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  border-radius: 4px;
  float: right;
  cursor: pointer;
  border: none;
}
.boutton_brouillon_interaction_edu{
  background-color: #ffffff;
  max-height: 4em;
  width: 15%;
  max-width: 20%;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  border-radius: 4px;
  float: right;
  border: none;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .Box {
    border: none;
    color: #355c7d;
    padding: 0.5em;
    max-width:900px;
    margin: auto;
    margin-top: 1em;
    background-color: white;
    border-radius: 4px;
  }
}
@media (max-width: 1000px) {
  .Box {
    border: none;
    color: #355c7d;
    padding: 0.5em;
    max-width:750px;
    margin: auto;
    margin-top: 1em;
    background-color: white;
    border-radius: 4px;
  }
  .boutton_retour_interaction_edu{
    background-color: #ffffff;
    max-height: 4em;
    width: 20%;
    max-width: 30%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    border: none;
  }
}

@media (max-width: 768px) {
  .Box {
    border: none;
    color: #355c7d;
    padding: 0.5em;
    max-width:700px;
    margin: auto;
    margin-top: 1em;
    background-color: white;
    border-radius: 4px;
  }
  .TextInput {
    width: 100%;
    max-width: 15em;
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
  }
}
.message_brouillon {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #4CAF50; /* Fond vert */
  border: 1px solid #3e8e41; /* Bordure un peu plus foncée que le fond */
  color: #fff; /* Texte blanc pour une meilleure lisibilité sur fond vert */
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  animation: fadeInOut 5s linear forwards; /* Fade in and out animation */
  display: flex; /* Utilisation de flexbox pour aligner le contenu horizontalement */
  align-items: center; /* Alignement vertical au centre */
}

.message_brouillon img {
  margin-left: 5px; /* Ajoutez une marge à gauche de l'image */
  height: 20px; /* Ajustez la hauteur de l'image si nécessaire */
}

