.grp_intervention{
    display: flex;
    align-items: center;
    justify-content: center;
}
.duree_operation{
    margin: 3em;
    text-align: center;
}
@media (max-width: 768px) {
    .box {
      padding: 10px;
    }
    .grp_intervention{
        flex-direction: column;
    }
    .duree_operation{
        text-align: center;
        margin: 0em;
    }
    .selecteur_duree{
        margin: 1em;
    }
}