
.grp_demandeur{
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}

.name_demandeur{
    width: 100%;
    margin-right: 2em;
}
.grp_localisation{
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}
.date_localisation{
    margin-right: 2em;
}
.locali_localisation{
    margin-right: 2em;
    margin-left: 2em;
}
.description_demande{
    display: flex;
    justify-content: center;
}
textarea {
    width: 100%;
    height: 13em;
    margin-top: 1em;
}
.degree_urgence{
    justify-content: center ;
    margin-top: 1em;
    display: flex;
} 
.txt_urgence{
    margin-right: 2em;
}