 
.fd2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
input {

    width: 100%;
    max-width: 15em;
    margin: 3em;
    padding: 1em;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {

    .Box {
      padding: 10px;
    }
    .fd2 {
      flex-direction: column;
    }
  }
  