.bouton_retour_creation_profil_edu{
    background-color: #f7f1e9;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
}
.form_creation_profil_eleve{
    width: 50%;
    margin:0 auto;
    border: 1px solid #355c7d;
    align-items: center;
    justify-content: center;
}
.form_nom_creation_profil{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_prenom_creation_profil{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_image_creation_profil{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}