/* Eleve */
.global_creation_profil_eleve {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .txt_creation_espace_élève {
    font-size: 24px;
    font-weight: bold;
  }
  
  .form_creation_profil_eleve {
    margin-top: 20px;
    width: 100%;
  }
  
  .form_nom_creation_profil,
  .form_prenom_creation_profil,
  .form_mdp_creation_profil,
  .form_image_creation_profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-bottom: 15px;
  }
  
  .form_nom_creation_profil p,
  .form_prenom_creation_profil p,
  .form_mdp_creation_profil p,
  .form_image_creation_profil p {
    margin-right: 10px;
    flex-basis: 100px;
  }
  
  .TextInput {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .bouton_sauvegarder_creation_profil_edu {
    background-color: #4caf50;
    width: 12%;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .bouton_sauvegarder_creation_profil_edu:hover {
    background-color: #45a049;
  }
  
/* Professeur */
.global_creation_profil_prof {
  text-align: center;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .form_creation_profil_prof {
    margin-top: 20px;
    width: 100%;
  }
  
  .form_nom_creation_profil,
  .form_prenom_creation_profil,
  .form_id_creation_profil,
  .form_mdp_creation_profil,
  .form_role_creation_profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form_nom_creation_profil p,
  .form_prenom_creation_profil p,
  .form_id_creation_profil p,
  .form_mdp_creation_profil p,
  .form_role_creation_profil p {
    margin-right: 10px;
    flex-basis: 100px; 
  }
  
  .TextInput,
  select {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .form_role_creation_profil label {
    flex-basis: 100%; 
    text-align: center; 
  }

  

  .select_role{
    color: #355c7d;
    font-size: 20px;
    font-weight: bold;
    margin: 0.5em;
  }
  
  @media(max-width: 1200px) {
    .global_creation_profil_prof {
      max-width: 1000px;
    }
    .global_creation_profil_eleve{
      max-width: 1000px;
    }
  }
  
  @media(max-width: 1000px) {
    .global_creation_profil_prof{
      max-width: 800px;
    }
    .global_creation_profil_eleve{
      max-width: 800px;
    }
  }
  
  @media(max-width: 800px) {
    .global_creation_profil_prof {
      max-width: 600px;
    }
    .global_creation_profil_eleve {
      max-width: 600px;
    }
  }

    /* Professeur */
.global_creation_profil_prof {
    max-width: 1200px;
    margin: 20px auto; /* Ajoute de l'espace entre les formulaires */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .form_creation_profil_prof {
    margin-top: 20px;
    width: 100%; /* Ajuste la largeur du formulaire */
  }
  
  .form_nom_creation_profil,
  .form_prenom_creation_profil,
  .form_id_creation_profil,
  .form_mdp_creation_profil,
  .form_role_creation_profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form_nom_creation_profil p,
  .form_prenom_creation_profil p,
  .form_id_creation_profil p,
  .form_mdp_creation_profil p,
  .form_role_creation_profil p {
    margin-right: 10px;
    flex-basis: 100px; /* Ajuste la largeur en conséquence */
  }
  
  .form_role_creation_profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form_role_creation_profil label {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .select_creation_profil_prof{
    text-align: center;
  }
  .TextInput,
  select {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  
  .bouton_sauvegarder_creation_profil_edu:hover {
    background-color: #45a049;
  }
  
.bouton_retour_creation_profil_edu {
  margin: 1em;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff; 
  background-color: #007bff; 
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  bottom: 20px;
  left: 20px;
  cursor: pointer;

}

.bouton_retour_creation_profil_edu:hover, .bouton_retour_creation_profil_edu:focus {
  background-color: #0056b3;
  transform: translateY(-2px); 
  text-decoration: none;
}

.bouton_retour_creation_profil_edu:active {
  transform: translateY(1px); 
}

.bouton_retour_creation_profil_edu:before {
  content: "← "; 
  display: inline-block;
  margin-right: 8px;
}
  
  @media(max-width: 1200px) {
    .global_creation_profil_prof {
      max-width: 1000px;
    }
    .bouton_sauvegarder_creation_profil_edu{
      width: 50%;
    }
  }
  
  @media(max-width: 1024px) {
    .global_creation_profil_prof {
      max-width: 800px;
    }
    .bouton_sauvegarder_creation_profil_edu{
      width: 50%;
    }
  }
  
  @media(max-width: 720px) {
    .global_creation_profil_prof {
      max-width: 600px;
    }
    .bouton_sauvegarder_creation_profil_edu{
      width: 50%;
    }
  }

  .uploadpp {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  .custom-file-upload.selected {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  
  