ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  .selected {
    font-weight: bold;
  }
  