/* ListeFiches.css */
.fiche_global_liste_fiche{
  justify-content: center;
  color: #355c7d;
  max-width: 600px;
  margin: 2em auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.global_liste_nom_fiches_crée {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.fiche_eleve_nom_attribuer{
  max-width: 12%;
}

.liste_nom_fiches_crée {
  overflow: hidden;
  overflow-wrap: break-word;
  border: none;
  width: 20%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.liste_nom_fiches_crée:hover {
  background-color: #f0f0f0;
}

.delete-icon {
  border-color: #e74c3c;
  border-radius: 10%;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 5em; /* Ajustez cette ligne */
  margin-right: 2em; /* Ajoutez cette ligne */
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.delete-icon:hover {
  background-color: #c0392b;
}
.autre-icon {
  border-color: #e74c3c;
  border-radius: 10%;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 5em; /* Ajustez cette ligne */
  margin-right: 2em; /* Ajoutez cette ligne */
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.autre-icon:hover {
  background-color: rgb(183, 180, 180);
}

.affecter_fiche_crée{
  border: none;
  width: 25%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  margin: 1em 0 1em 3em; /* Ajoutez cette ligne */
  cursor: pointer;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}


.titre_h1_fiche_crée {
  text-align: center;
  margin: 1em;
  color: #0056b3;
  font-weight: bold;
  font-size: 30px;
}
.affecter_fiche_crée {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.affecter_fiche_crée.non_attribué {
  background-color: green;
  color: white;
}

.affecter_fiche_crée.attribué {
  background-color: red;
  color: white;
}

.affecter_fiche_crée.attribué:hover {
  background-color: #670808;
  text-align: center;
}
.affecter_fiche_crée.non_attribué:hover {
  background-color: #00580f;
  text-align: center;
}
.affecter_fiche_crée[disabled] {
  cursor: not-allowed;
}




.bouton_retour_liste_fiche_crée_edu {
  margin:1em;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff; 
  background-color: #007bff; 
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.bouton_retour_liste_fiche_crée_edu:hover, .bouton_retour_liste_fiche_crée_edu:focus {
  background-color: #0056b3;
  transform: translateY(-2px); 
  text-decoration: none;
}

.bouton_retour_liste_fiche_crée_edu:active {
  transform: translateY(1px); 
}

.bouton_retour_liste_fiche_crée_edu:before {
  content: "← "; 
  display: inline-block;
  margin-right: 8px;
}

/* @media (max-width: 768px) {

  .fiche_eleve_nom_attribuer{
    max-width: 12%;
  }
  .global_liste_nom_fiches_crée {

    flex-direction: column;
    align-items: flex-start; 
  }

  .liste_nom_fiches_crée,
  .delete-icon,
  .autre-icon,
  .affecter_fiche_crée {
    width: 100%;
    margin: 10px 0; 
  }

}

@media (max-width: 480px) {

  .liste_nom_fiches_crée,
  .delete-icon,
  .autre-icon,
  .affecter_fiche_crée {
    width: 100%;
    margin: 10px 0;
  }


} */

/* Adaptations pour les écrans jusqu'à 1024px */
/* Adaptations pour les écrans jusqu'à 1024px */
@media (max-width: 1024px) {
  .fiche_global_liste_fiche, .global_liste_nom_fiches_crée, .affecter_fiche_crée {
    width: 80%; /* Augmente la largeur pour un meilleur affichage sur tablettes */
    margin: auto; /* Assure le centrage horizontal */
  }

  .liste_nom_fiches_crée, .delete-icon, .autre-icon {
    width: 90%; /* Ajuste la largeur pour mieux s'adapter aux espaces réduits */
    margin: 10px auto; /* Centrer les éléments horizontalement */
  }

  .bouton_retour_liste_fiche_crée_edu {
    padding: 10px 20px; /* Ajuster le padding pour une meilleure visibilité */
    font-size: 16px; /* Ajuster la taille de la police pour une meilleure lisibilité */
    display: block; /* S'assure que le bouton est traité comme un bloc */
    margin: 10px auto; /* Centrer le bouton horizontalement */
  }
}

/* Adaptations pour les écrans jusqu'à 720px */
@media (max-width: 720px) {
  .fiche_global_liste_fiche, .global_liste_nom_fiches_crée, .affecter_fiche_crée {
    width: 100%; /* Utiliser toute la largeur disponible pour un affichage optimal sur mobile */
    margin: auto; /* Centrage horizontal */
  }

  .liste_nom_fiches_crée, .delete-icon, .autre-icon {
    width: 100%; /* Assure que ces éléments s'étendent sur toute la largeur disponible */
    margin: 10px 0; /* Ajuste les marges pour un espacement cohérent */
  }

  .bouton_retour_liste_fiche_crée_edu {
    padding: 12px 24px; /* Augmente le padding pour une meilleure manipulation */
    font-size: 18px; /* Augmente la taille de la police pour une meilleure lisibilité sur petits écrans */
    display: block; /* S'assure que le bouton est traité comme un bloc */
    margin: 20px auto; /* Centrer le bouton horizontalement */
  }
}

