.bouton_retour_liste_fiche_crée_edu{
    background-color: #f7f1e9;
    max-height: 4em;
    width: 10%;
    max-width: 20%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    float: left;
}
.titre_h1_fiche_crée{
    color:#355c7d;
    font-weight: bold;
    font-size: 30px;
}
.global_liste_nom_fiches_crée{
    display: flex;
    flex-wrap: wrap;
}
.liste_nom_fiches_crée{
    width: 20%;
    margin: 1em;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}