/* ListeFiches.css */

.global_liste_nom_fiches_crée {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-left: 2em;
  }
  
  .liste_nom_fiches_crée {
    border: none;
    width: 20%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .liste_nom_fiches_crée:hover {
    background-color: #f0f0f0;
  }
  
  .delete-icon {
    
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
    margin-left: 0.5em;
    margin-top: 20px; /* Ajustez cette ligne */
    transition: background-color 0.3s ease;
  }
  
  .delete-icon:hover {
    background-color: #c0392b;
  }
  
  .affecter_fiche_crée,
  .bouton_retour_liste_fiche_crée_edu {
    border: none;
    width: 10%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .affecter_fiche_crée:hover,
  .bouton_retour_liste_fiche_crée_edu:hover {
    background-color: #f0f0f0;
  }
  
  .titre_h1_fiche_crée {
    margin: 1em;
    color: #355c7d;
    font-weight: bold;
    font-size: 30px;
  }
  