.global_modif_mdp_eleve{
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin: 3em;
}
.bouton_retour_modif_mdp_eleve{
    background-color: white;
    height: 3em;
    width: 10%;
    max-width: 30%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
}
.titre_modif_mdp_eleve{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #355c7d;
    margin: 1em;
}