.global_bouton_interface_educateur {
    padding: 9px;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
}

.bouton_interface_educateur {
    background-color: white;
    height: 4em; /* Hauteur fixe */
    width: 20%; /* Largeur dynamique */
    max-width: 30%; /* Largeur maximale pour garder les boutons grands */
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
}

.bouton_sauvegarder_creation_profil_edu{
    background-color: white;
    max-height: 4em;
    width: 10%;
    max-width: 20%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    float: right;
}
.bouton_deconnection_educateur{
    color: #ffffff;
    cursor: pointer;
    border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e62222;
    max-height: 4em;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;

}

.reglage-icon{
    margin: 2em;
    float: right;
}
.global_txt_espace_prof{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.txt_espace_prof{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2); /* Ombre plus prononcée au survol */
    font-size: 2em;
    padding: 3px;
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
    color: #355c7d;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 4px;
    width: 30%;
}
.bouton_interface_educateur:hover,
.bouton_interface_educateur:focus {
    transform: translateY(-3px);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2); 
}

@media (max-width: 1024px) {
    .bouton_interface_educateur {
        width: 45%; 
        max-width: 100%;
    }
    .txt_espace_prof{
        width: 80%;
    
    }
}

@media (max-width: 720px) {
    .global_bouton_interface_educateur {
        flex-direction: column;
        width: 90%; 
    }

    .bouton_interface_educateur {
        width: 100%; 
        margin: 0.5em 0; 
    }
}