.global_bouton_interface_educateur {


    padding: 9px;
    box-sizing: border-box;
    width: 80%;
    display: flex; 
    flex-wrap: wrap; 
    margin: 1em auto;
    justify-content: center;
    align-items: center; 
}
.bouton_sauvegarder_creation_profil_edu{
    background-color: white;
    max-height: 4em;
    width: 10%;
    max-width: 20%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    float: right;
}
.bouton_deconnection_educateur{
    color: #ffffff;
    cursor: pointer;
    border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e62222;
    max-height: 4em;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;

}
.bouton_interface_educateur{
    
    background-color: white;
    height: 4em;
    width: 20%;
    max-width: 30%;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;

}
.reglage-icon{
    margin: 2em;
    float: right;
.global_txt_espace_prof{
    display: flex; /* Utilisez Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-align: center; 

}
.txt_espace_prof{
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
    color: #355c7d;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 4px;
    width: 30%;
}
.bouton_interface_educateur:hover,
.bouton_interface_educateur:focus {
    transform: translateY(-3px); /* Légère élévation au survol */
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2); /* Ombre plus prononcée au survol */
}
@media (max-width: 950px) {
    .global_bouton_interface_educateur {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        justify-content: space-around; 
    }
    
    .bouton_interface_educateur {
        flex: 0 0 45%;
        width: 100%;
        background-color: white;
        height: 4em;
        color: #355c7d;
        font-weight: bold;
        font-size: 18px;
        padding: 0.8em;
        margin: 1em;
        border-radius: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

  }
  /*
  @media (max-width: 850px) {
    .bouton_deconnection_educateur{
        border: 1px solid red;
        background-color: red;
        max-height: 4em;
        width: 15%;
        max-width: 20%;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding: 0.8em;
        margin: 1em;
        border-radius: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .global_bouton_interface_educateur {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }

  }
*/
@media (max-width: 720px) {
    .global_bouton_interface_educateur {
        display: flex;
        width: 100%;
        flex-direction: column; /* Ajout de cette ligne pour aligner les boutons en colonne */
    }
    
    .bouton_interface_educateur {
        width: 100%;
        background-color: white;
        height: 4em;
        color: #355c7d;
        font-weight: bold;
        font-size: 18px;
        padding: 0.8em;
        margin: 1em;
        border-radius: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
}