.button_retour{
    
    background-color: #fff;
    color: #355c7d;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    border:none;
}
/* .button_retour:hover{
    background-color: #355c7d;
    color: #fff;
    cursor: pointer;
} */
.archiver-button{
    
    background: #e62222;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    border:none;
}
.content_espace__take_photo_eleve{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
.button_photo {
    background-color: #355c7d;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 0.8em;
    margin: 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.button_photo:active {
    background-color: #fff;
    color: #355c7d;
}