.upload-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.upload-container div {
  margin-bottom: 20px;
}

.error-message {
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
}

.file-input-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.file-input-label:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.selected-file {
  font-size: 16px;
  margin-top: 10px;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.upload-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.upload-button:hover {
  background-color: #45a049;
}

.txt_picto_present {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-bottom: 10px;
  color: #355c7d;}

.picto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.picto-container img {
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
}


.back-button {
  margin:1em;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff; 
  background-color: #007bff; 
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.back-button:hover, .back-button:focus {
  background-color: #0056b3;
  transform: translateY(-2px); 
  text-decoration: none;
}

.back-button:active {
  transform: translateY(1px); 
}

.back-button:before {
  content: "← "; 
  display: inline-block;
  margin-right: 8px;
}