.upload-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.upload-container div {
  margin-bottom: 20px;
}

.error-message {
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
}

.file-input-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.file-input-label:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.selected-file {
  font-size: 16px;
  margin-top: 10px;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.upload-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.upload-button:hover {
  background-color: #45a049;
}

.txt_picto_present {
  font-size: 20px;
  margin-bottom: 10px;
  color: #355c7d;}

.picto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.picto-container img {
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
}

.back-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
  background-color: #bbb;
}
.back-button {
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  color: #355c7d;
  font-weight: bold;
  font-size: 18px;
  padding: 0.8em;
  margin: 1em;
  border-radius: 4px;
  border: none;
  cursor:pointer;
}