
.bouton_retour_modifier_role {
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff; 
  background-color: #007bff; 
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  position:absolute;
}

.bouton_retour_modifier_role:hover, .bouton_retour_modifier_role:focus {
  background-color: #0056b3;
  transform: translateY(-2px); 
  text-decoration: none;
}

.bouton_retour_modifier_role:active {
  transform: translateY(1px); 
}

.bouton_retour_modifier_role:before {
  content: "← "; 
  display: inline-block;
  margin-right: 8px;
}